

.register {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  border: solid 3px black;
  border-radius: 10px;
  padding: 30px;
}

.login-buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.input {
  min-width: 300px;
}


// * Plan Trip Page

.plan-top {
  display: flex;
  justify-content: center;
  
  .form {
    display: flex;
    flex-direction: column;
    border: solid 3px black;
    border-radius: 10px;
    padding: 30px;
    max-width: 800px;
    margin: 30px;

    .day-time {
      display: flex;
      align-items: center;
      justify-content: center;
      
      .arrival-info {
        display: flex;
        margin: 10px;
      }

      .departure-info {
        display: flex;
        margin: 10px;
      }
    }
  }

}

// * Single Place ------------

.single-page {
  display: flex;
  height: 100vh;

  .single-page-left {
    display: flex;
    flex-direction: column;
    width: 66%;

    h1 {
      font-size: 50px;
      text-align: center;
    }

    .address {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
    }

    .country-info {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 20px;

      .flag {
        font-size: 60px;
      }
    }

    .blurb {
      margin: 20px;
      text-align: center;
    }
  }

  .single-page-right {
    display: flex;
    flex-direction: column;
    width: 33%;

    .comments-section {
      height: 80vh;
      overflow: auto;
      margin: 40px 0px;
      background: rgba(0, 0, 0, 0.1);
      border: 3px solid white;
      border-radius: 10px;
      padding: 10px;

      .media {
        margin: 0px 10px 20px 10px;
      }

      .user-time {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    
        .username {
          font-size: 20px;
          font-weight: bold;
          text-decoration: underline;
        }
      }

      .comment-body {
        margin: 0px;
      }

    }

  }
}

// * Side Menu ------------

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

// * User Page ------------

.user-page {
  display: flex;
  flex-direction: column;

  .top-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 2px lightgrey;
    
    h1 {
      font-size: 40px;
      padding: 20px;
    }

    p {
      font-size: 20px;
      padding-bottom: 30px;
    }

    button {
      margin-bottom: 30px;
    }
  }

  .bottom-half {
    margin-top: 30px;
  }
}

// * Public Folders Page ------------

.folders-page {
  display: flex;
  flex-direction: column;

  .top-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 2px lightgrey;
    margin-bottom: 30px;
    
    h1 {
      font-size: 40px;
      padding: 20px;
    }

    p {
      font-size: 20px;
      padding-bottom: 30px;
    }
  }

  .bottom-half {
    margin-top: 30px;
  }
}

// * Single Folder Page ------------

.single-folder-page {
  display: flex;
  flex-direction: column;

  .top-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 2px lightgrey;
    padding-bottom: 30px;
    
    h1 {
      font-size: 40px;
      padding: 20px;
    }

    p {
      font-size: 20px;
    }

    #button-1 {
      margin-top: 15px;
    }

  }

  .bottom-half {
    margin-top: 30px;
  }
}

// * Loader ------------

.flex-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}