

// ! Think about below

html {
  // background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://images.unsplash.com/photo-1501868984184-76121ed6a6e2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

// ! ------------

.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://images.unsplash.com/photo-1462043103994-3eb31d19a057?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
}

.form {
  border: solid 3px white;
  border-radius: 10px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);

  .label {
    color: white
  }
}

.login-buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.input {
  min-width: 300px;
}


// * Plan Trip Page


.plan-trip {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://images.unsplash.com/photo-1501868984184-76121ed6a6e2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;

  .plan-top {
    display: flex;
    justify-content: center;
    
    .label {
      color: white;
    }
    
    .form {
      display: flex;
      flex-direction: column;
      border: solid 3px white;
      border-radius: 10px;
      padding: 30px;
      max-width: 800px;
      margin: 30px;
      color: white;
      background: rgba(0, 0, 0, 0.5);
  
      .day-time {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .arrival-info {
          display: flex;
          margin: 10px;
        }
  
        .departure-info {
          display: flex;
          margin: 10px;
        }
      }
    }
  
  }
}



// * Single Place ------------

.single-page {
  display: flex;
  height: 100vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://images.unsplash.com/photo-1456425731181-2152d80d946c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1351&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  

  .single-page-left {
    display: flex;
    flex-direction: column;
    width: 66%;

    h1 {
      font-size: 50px;
      text-align: center;
      color:white;
    }

    .address {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
      color:white;
    }

    .country-info {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 20px;
      color:white;

      .flag {
        font-size: 60px;
      }
    }

    .blurb {
      margin: 20px;
      text-align: center;
      color:white;
    }
  }

  .single-page-right {
    display: flex;
    flex-direction: column;
    width: 33%;

    .comments-section {
      height: 80vh;
      overflow: auto;
      margin: 40px 0px;
      background: rgba(0, 0, 0, 0.5);
      border: 3px solid white;
      border-radius: 10px;
      padding: 10px;

      .media {
        margin: 0px 10px 20px 10px;
      }

      .user-time {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    
        .username {
          font-size: 20px;
          font-weight: bold;
          text-decoration: underline;
        }
      }

      .comment-body {
        margin: 0px;
      }

    }

  }
}

// * Side Menu ------------

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 50px;
  height: 50px;
  left: 36px;
  top: 5px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  width: 280px !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

// * User Page ------------

.user-page {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

  .top-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 2px lightgrey;
    
    h1 {
      font-size: 40px;
      padding: 20px;
    }

    p {
      font-size: 20px;
      padding-bottom: 30px;
    }

    button {
      margin-bottom: 30px;
    }
  }

  .bottom-half {
    margin-top: 30px;
  }
}

// * Public Folders Page ------------

.folders-page {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://images.unsplash.com/photo-1504609773096-104ff2c73ba4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

  .top-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    
    h1 {
      font-size: 40px;
      padding: 20px;
    }

    p {
      font-size: 20px;
      padding-bottom: 30px;
    }
  }

  .bottom-half {
    margin-top: 30px;
  }
}

// * Single Folder Page ------------

.single-folder-page {
  display: flex;
  flex-direction: column;

  .top-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 2px lightgrey;
    padding-bottom: 30px;
    
    h1 {
      font-size: 40px;
      padding: 20px;
    }

    p {
      font-size: 20px;
    }

    #button-1 {
      margin-top: 15px;
    }

  }

  .bottom-half {
    margin-top: 30px;
  }
}

// * Loader ------------

.flex-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-image: url('https://imgur.com/HPe5QAS')
  
}